{% extends 'rubrica/base.html' %}

{% block content %}

  <div>
    <h2>Edit Contact</h2>

    <form method="POST" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>

  </div>

  {% if contact %}
  <div>
      <a href="{% url 'contact_history' pk=contact.pk %}" class="btn btn-primary">History</a>
  </div>
  {% endif %}

{% endblock %}
