{% extends 'rubrica/base.html' %}

{% block content %}

  <div>
  <p>{{ contact.name }} history</p>
  {% if contact_history %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">date</th>
        <th scope="col">name</th>
        <th scope="col">number</th>
        <th scope="col">change reason</th>
      </tr>
    </thead>
    </tbody>
    {% for history in contact_history %}
      <tr>
       <th scope="row">{{ history.history_date }}</th>
       <td>{{ history.name }}</th>
       <td>{{ history.number }}</th>
       <td>{{ history.history_change_reason }}</th>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>No history for this Contact</p>
  {% endif %}
  </div>

{% endblock %}
