{% extends 'rubrica/base.html' %}

{% block content %}

  <div>
  <p>Contact list</p>
  {% if all_contacts %}
    <ul class="list-group list-group-flush">
    {% for contact in all_contacts %}
      <li class="list-group-item">
        <a class="far fa-edit" href="{% url 'contact_edit' pk=contact.pk %}"></a>
        {{ contact.name }} - {{ contact.number }}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No contacts in rubrica</p>
  {% endif %}
  </div>

{% endblock %}
